@font-face {
    font-family: "roboto";
    src: 
        url("./files/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: 
        url("./files/fonts/roboto-italic-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: 
        url("./files/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: 
        url("./files/fonts/roboto-bolditalic-webfont.woff2") format("woff2"),
        url("./files/fonts/roboto-bolditalic-webfont.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "game-of-squids";
    src: 
        url("./files/fonts/game_of_squids-webfont.woff2") format("woff2"),
        url("./files/fonts/game_of_squids-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --content-font: 1.2rem;
    --heading-font: 3.2rem;
    --section-width: min(100%, 65ch);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'roboto';
    font-weight: 400;
    font-size: var(--content-font);

    min-height: 98vh;
    overflow: auto;
}

header {
    flex-grow: 1;
    flex-basis: 42%;

    background-image: url("./files/background.jpg");
    background-position: top;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#credit {
    margin-bottom: 1rem;
    font-size: calc(var(--content-font) - 0.4rem);
    color: white;

    align-self: stretch;
    backdrop-filter: brightness(75%);
    text-align: center;
}

#credit > div > a {
    color: white;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4rem;

    backdrop-filter: brightness(75%);
    align-self: stretch;
}

h1 {
    font-family: "game-of-squids", "roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--heading-font);
    letter-spacing: 0.5rem;
    color: white;
}

img {
    width: var(--heading-font);
    height: auto;
}

main {
    flex-grow: 1;
    flex-basis: 58%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    background-color: #f7f8fa;
}

section {
    width: var(--section-width);
    padding: 2rem;
}

.intro {
    flex-grow: 2;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form {
    flex-grow: 1;
    width: 100%;
    padding-top: 0;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0 0.4rem 1rem rgb(194, 194, 194);
}

.form > * {
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-content:space-evenly;

    width: var(--section-width);
}


.form-element {
    display: flex;
    flex-direction: column;
    gap:2px;

    flex-basis: 40%;
}

.action {
    flex-grow: 4;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}

p {
    font-family: 'roboto';
    font-weight: 800;
}

input, button, label {
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    border: none;
    box-sizing: border-box;
    background: none;
}

button[type="submit"] {
    width: max-content;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: calc(var(--content-font) - 0.16rem);
    color: aliceblue;
    background-color: rgb(6, 114, 216);
}

button[type="submit"]:hover, button[type="submit"]:focus {
    cursor: pointer;
    background-color: rgb(196, 255, 171);
    color: rgb(8, 20, 73);
}

button.log-in {
    cursor: pointer;
    color: rgb(6, 114, 216);
}


label {
    letter-spacing: 1.5px;
    font-size: calc(var(--content-font) - 0.4rem);
    font-weight: 800;
    color: rgb(92, 92, 92);
}


input {
    padding: 2px;
    border: 1.5px solid rgb(128, 127, 127);
    border-radius: 4px;
    font-size: calc(var(--content-font) - 0.16rem);
}

input:focus, input:active {
    outline: 1.4px solid blue;
    border-radius: 4px;
    box-shadow: 1.2px 1.2px 8px 1.2px rgb(85, 85, 85);
    background-color: rgb(227, 234, 241);
}

input:hover {
    background-color: rgb(227, 234, 241);
}

input:not(.empty):invalid {
    outline: 1.4px solid red;
    box-shadow: none;
}

.pass {
    color: red;
    font-size: calc(var(--content-font) - 0.48rem);
}